<h2 class="text-center">Ember To Do List</h2>
<br>
<div class="container">
  <form>
    <div class="form-group">
      Due: {{input value=deadline}}
      Task description: {{input value=description}}
      <button {{action 'save' description deadline}} class="btn btn-default" type="submit">
        Add
      </button>
    </div>
  </form>
</div>
<br>
<div class="container">
  <button class="btn btn-primary" {{action 'showAll'}}>All</button>
  <button class="btn btn-primary" {{action 'showCompleted'}}>Complete</button>
  <button class="btn btn-primary" {{action 'showIncomplete'}}>Incomplete</button>
</div>
<br>
<div class="container">
  <div class="list-group">
    {{#each model as |task|}}
      <div class="row">
        <div class="list-group-item col-md-8">
          {{input type='checkbox' change=(action 'toggleTask' task)}}
          {{task.id}}:
          {{task.description}}
          <span class="deadline pull-right"><strong>Due:</strong> {{task.deadline}}</span>
        </div>
        <div class="col-md-4">
          <button class="btn btn-default edit" {{action 'editTask' task}}><span class="glyphicon glyphicon-pencil"></span> Edit</button>
          <button class="btn btn-danger remove" {{action 'delete' task}}><span class="glyphicon glyphicon-minus"></span> Remove</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div class="container row">
  <div class="col-md-6">
    {{outlet}}
  </div>
  <div class="col-md-6">
    <img class="zoey" src="https://emberjs.com/images/tomsters/munich-zoey.png">
  </div>
</div>